/* Adicionar aqui toda a estilização criada para sua aplicação. */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    background-color: black;
}

:root {
    --tamanho-header: 80px; /* --nome = variável em CSS*/
    --tamanho-banner: calc(60vh - var(--tamanho-header) - var(--tamanho-footer) - 2px); /*calc = calcular*/ /* vh = view height */
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-footer: 150px;
}

/* HEADER*/

.header {
    height: var(--tamanho-header);
    border-bottom: 4px solid #32b9cd;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.header .container { /*Quero que dentro da tag header, mexa no container*/
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header a { /*Quero que dentro da tag header, mexa em todas as tags a */
    text-decoration: none; /*Decoração do texto*/
    color: white;
}

.agora {
    font-weight: 800;
}

.navbar {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none; /*Retirar o ponto do modo lista*/
    color: #E3B062;
}

.titulo {
    color: #32b9cd;
    width: fit-content; /*Largura se adequa*/
    font-weight: 500; /*Espessura*/
}

/*BANNER*/

.banner {
    height: var(--tamanho-banner);
    color: white;
    background-image: url('../assets/imgs/bg-jelly-fish-para-home.png'); /*Imagem de fundo*/
    background-size: cover; /*Imagem do bg*/
}

.banner .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
}

.banner .container p {
    width: 90%;
    margin-left: 300px;
    padding: 0;
    font-size: 36px;
}

.banner .container span {
    font-weight: 800;
}

.social {
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social .container .boxes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 0;
}

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box img {
    width: 170px;
}

.footer {
    background-color: #32b9cd;
    height: var(--tamanho-footer);
    color: #fff;
    display: flex;
    font-size: 15px;
}

.footer .container{
    justify-content: center;
    align-items: center;
}

.version {
    font-size: 12px;
}

.card {
    width: 55%;
    height: 30%;
    justify-content: center;
    display: flex;
    border-radius: 20px;
}

.card-login {
    display: flex;
    background-color: #e5e5e5;
    align-items: center;
    flex-direction: column;
    color: #D56D8E;
    padding: 55px 30px;
    align-content: stretch;
}

.campo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 15px;
    font-weight: 800;
    justify-content:center;
}

.container .card{
    display: flex;
    flex-direction: center;
}

.formulario {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100px;
    align-items: center;
    justify-items: center;
}

.campo {
    align-items: flex-start;
    justify-content: center;
    justify-items: flex-start;
}

.campo .botao {
    display:flex;
    background-color: #D56D8E;
    color: white;
    flex-direction: center;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 500px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid #32b9cd;
}

h2 {
    font-size: 30px;
}

button {
    background-color: rgb(203, 36, 133);
    color: white;
    justify-content: center;
    width: 120px;
    height: 25px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
}

.card-cadastro {
    display: flex;
    background-color: #e5e5e5;
    align-items: center;
    flex-direction: column;
    color: #D56D8E;
    padding: 135px 30px;
    align-content: stretch;

}

.imagemTitulo {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.textoNormal {
    width: 550px;
    text-align: center;
}

.version {
    margin-bottom: 30px;
}
